.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

@media only screen and (min-width: 500px) {
  .calculator {
    width: 450px;
  }
}

@media only screen and (min-width: 700px) {
  .calculator {
    width: 650px;
  }
}

.inputContainer {
  background-color: #ffe1a8;
  width: 80%;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 22px;
  font-weight: 600;
  padding: 8px;
}

.input-container > button {
  padding: 8px;
}

.keys {
  height: 280px;
  font-size: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  height: 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.number {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.symbol {
  width: calc(100% / 5);
  display: flex;
  justify-content: center;
  padding: 0;
}

.number > button,
.symbol > button {
  width: calc(100% / 5);
  height: 80px;
  background-color: #ff9100;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  padding: 0;
  transition: 0.15s;
  font-size: 18px;
  font-weight: 600;
}

.symbol > button {
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  padding: 0;
  border: 0.5px solid #919191;
}

.number > button {
  background-color: #fb0;
  border: 0.5px solid #919191;
}

.number > button:hover {
  background-color: #ffd258;
}

.symbol > button:hover {
  background-color: #ffdb98;
}

.buttonWide {
  width: calc(100% / 2.5) !important;
}
