*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
